.container {
  height: 700px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  transform: translateX(-10px);
}

.jumbotron{
  transform: translateX(27px);
}
.form-control {
  margin: 30px;
}

.nav-link {
  width: 250px;
  background: white;
  margin: 10px;
  border-radius: 2px;
  font-weight: bold;
  color: black;
}

.nav-pills {
  margin: 20px;
  float: right;
  text-align: center;
}

.inner-container{
  display: table-row;
}

.column {
  width: 300px;
  display: table-cell;
  transform: translateX(18px);
}

#right {
  position: absolute;
}
.alert-messages{
  margin:auto;
}

.tier{
  width: 270px;
  margin: auto;
  height:auto;
  min-height: 50px;
  border-radius: 2px;
  margin-top: 5px;
  padding-left: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: brightness(1);
}

.average {
  width: 75px;
  float: right;
  transform: translateX(-15px);
  height:auto;
  min-height: 50px;
  margin-top: 5px;
  color: white;
  padding: 5px;
  border: 2px solid white;
  filter: brightness(1);
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
  vertical-align: center;
  font-size: 30px;
}


#a{
  border: 2px solid #b29600;
  color: #b29600;
}

#b{
  border: 2px solid #75b200;
  color: #75b200;
}

#c{
  border: 2px solid 	#ddd75a;
  color: 	#ddd75a;
}

#d{
  border: 2px solid #f8bc4c;
  color: #f8bc4c;
}

#f{
  border: 2px solid #e56565;
  color: #e56565;
}
